<div class="container">
  <div class="row">

    <%= render "layouts/sidebar", current: false%><!--サイドバー-->
    <div class="col-lg-9 offset-lg-1 col-md-12">
      <%= render "chatrooms/index", show_chatrooms: @show_chatrooms, hide_chatrooms: @hide_chatrooms %>
    </div>

  </div>
</div>

