h1.my-5.text-center
  strong
    | Part-nerにようこそ！
.card.index_card.my-5.mx-3
  .card-header.bg-info.d-flex
    .col-5
      = image_tag "Part-ner.png", class: "img-fluid"
    .col-7.text-center.text-light.row.justify-content-center.align-content-center
      h1.col-12
        | ”Part-ner”
      h4.col-12
        | ってなに？
  .card-body
    h5.card-text
      | 「アルバイト」を意味する
      strong
        | 「part time job」
      | と、「相方、相棒」を意味する
      strong
        | 「partner」
      | を組み合わせた造語です。
      |  バイトを「誰と」で選びたい。という製作者の想いから生まれた、アルバイト探しを通じて人と人とをつなげるマッチングサービスです。
    .d-flex.justify-content-between.mt-2
      a.btn.btn-primary.btn-rounded[href="#when"]
        |  もっと見る
br
br
br
br
br
br
br
br
br
br
br#when
br
.row.my-5.mx-3.justify-content-end.fadein
  .card.col-7.align-items-center.bg-info
    h2.text-white.p-2
      | どんな時に使うの？
.row.my-5.mx-3.fadein
  .col-2
    = image_tag "Part-ner.png", class: "img-fluid"
  .card.col-7.align-items-center.justify-content-center
    h2.p-2
      | "Part-ner"の使いどきはこんな感じ。
.card.index_card.my-5.mx-3.fadein
  .card-header.bg-primary.d-flex
    .col-7.text-center.text-light.row.justify-content-center.align-content-center
      h1.col-12
        | CASE.1
      h4.col-12
        | 「誰と」で選びたい？
    .col-5
      = image_tag "IMG_1369.PNG", class: "img-fluid"
  .card-body
    h4.card-title
      | 「アットホームな雰囲気」って言われても．．．。
    p.card-text
      | なんだかんだ、働いてみるまでイゴコチの良さはわからない。
      |  素敵な”Part-ner”を見つけましょう。もうバイト選びで失敗させません。
.card.index_card.my-5.mx-3.fadein
  .card-header.bg-info.d-flex
    .col-5
      = image_tag "IMG_1359.PNG", class: "img-fluid"
    .col-7.text-center.text-light.row.justify-content-center.align-content-center
      h1.col-12
        | CASE.2
      h4.col-12
        | 「誰かを」紹介したい？
  .card-body
    h4.card-title
      | 今日も一人でバイト．．．。
    p.card-text
      | 仕事に不満はないけれど、毎日ひとりでちょっとユウウツ。
      |  そんなとき私たちは、あなたの”Part-ner”探しをお手伝いします。
.card.index_card.my-5.mx-3.fadein
  .card-header.bg-primary.d-flex
    .col-7.text-center.text-light.row.justify-content-center.align-content-center
      h1.col-12
        | CASE.3
      h4.col-12
        | 「誰かと」応募したい？
    .col-5
      = image_tag "IMG_1367.PNG", class: "img-fluid"
  .card-body
    h4.card-title
      | このバイトなんだか良さそう！でも．．．。
    p.card-text
      | 新しいバイトに１人で飛び込むのって、ユウキがいるもの。
      |  これから一緒に応募する”Part-ner”を見つけてみませんか？
    a.btn.btn-primary.btn-rounded[href="#how"]
      |  使い方を見る
br
br
br
br
br
br
br
br
br
br
br#how
br
.row.my-5.mx-3.justify-content-end.fadein
  .card.col-7.align-items-center.bg-info
    h2.text-white.p-2
      | どうやって使うの？
.row.my-5.mx-3.fadein
  .col-2
    = image_tag "Part-ner.png", class: "img-fluid"
  .card.col-7.align-items-center.justify-content-center
    h2.p-2
      | "Part-ner"はこんな使い方ができるよ。まずバイト探しは・・・
.card.index_card.my-5.mx-3.fadein
  .card-header.bg-info.d-flex
    .col-7.text-center.text-light.row.justify-content-center.align-content-center
      h2.col-12
        | １．バイトを探す
    .col-5
      = image_tag "searchshot.png", class: "img-fluid"
  .card-body
    h4.card-title
      | まずは検索してみよう
    p.card-text
      | 地域と職種とキーワードで絞り込むことが出来ます。もちろん、希望の条件に合うバイトが見つかるとは限りません。
      |  でも、条件だけで探していた昨日までのバイト探しとは今日でお別れ。”Part-ner”候補者のページものぞきに行ってみましょう！
.card.index_card.my-5.mx-3.fadein
  .card-header.bg-primary.d-flex
    .col-5
      = image_tag "offershot.png", class: "img-fluid"
    .col-7.text-center.text-light.row.justify-content-center.align-content-center
      h2.col-12
        | ２．オファーを送る
  .card-body
    h4.card-title
      | この人、仲良くなれるかも．．．？
    p.card-text
      | そう思ったら、恐れずにオファーを送ってみましょう。
      |  きちんと言葉にすれば、きっとあなたの想いも届くはず。相手がOKしてくれたら、１対１のチャットが始まります。
.card.index_card.my-5.mx-3.fadein
  .card-header.bg-info.d-flex
    .col-7.text-center.text-light.row.justify-content-center.align-content-center
      h2.col-12
        | ３．チャットでお話
    .col-5
      = image_tag "chatshot.png", class: "img-fluid"
  .card-body
    h4.card-title
      | ”Part-ner”を見つけよう
    p.card-text
      | チャットを通じて、２人の相性を確かめましょう。
      |  これから一緒に働いていく”Part-ner”です。素敵な出会いがありますように！
br
br
br
br
.row.my-5.mx-3.fadein
  .col-2
    = image_tag "Part-ner.png", class: "img-fluid"
  .card.col-7.align-items-center.justify-content-center
    h2.p-2
      | バイト仲間を募集する時は・・・
.card.index_card.my-5.mx-3.fadein
  .card-header.bg-primary.d-flex
    .col-5
      = image_tag "jobnewshot.png", class: "img-fluid"
    .col-7.text-center.text-light.row.justify-content-center.align-content-center
      h2.col-12
        | １．募集をつくる
  .card-body
    h4.card-title
      | あなたのバイトをステキに紹介しよう
    p.card-text
      | あなたのバイトがたくさんの人の目に留まるように、目を引く写真や文章でアピールしましょう。もちろんバイトだけでなく、あなたのプロフィールも大切です。オファーがもらえるようにがんばりましょう！
.card.index_card.my-5.mx-3.fadein
  .card-header.bg-info.d-flex
    .col-7.text-center.text-light.row.justify-content-center.align-content-center
      h2.col-12
        | 2．オファーを承認
    .col-5
      = image_tag "offerokshot.png", class: "img-fluid"
  .card-body
    h4.card-title
      | 承認して、チャットを始めよう
    p.card-text
      | 届いたオファーは一覧になっていて、承認するか拒否するかが選べます。
      |  承認するとその人とのチャットが始まります。最初のメッセージは、ぜひあなたから送ってあげてください。
.card.index_card.my-5.mx-3.fadein
  .card-header.bg-primary.d-flex
    .col-5
      = image_tag "chatshot.png", class: "img-fluid"
    .col-7.text-center.text-light.row.justify-content-center.align-content-center
      h2.col-12
        | ３．チャットでお話
  .card-body
    h4.card-title
      | ”Part-ner”を見つけよう
    p.card-text
      | チャットを通じて、２人の相性を確かめましょう。
      |  これから一緒に働いていく”Part-ner”です。素敵な出会いがありますように！
br
.row.my-5.mx-3.fadein
  .col-2
    = image_tag "Part-ner.png", class: "img-fluid"
  .card.col-7.align-items-center.justify-content-center
    h2.p-2
      | 使い方はこんな感じだよ！
.row.my-5.mx-3.justify-content-end.fadein
  .card.col-7.align-items-center.bg-info
    h2.text-white.p-2
      | OK！
br
.card.index_card.my-5.mx-3.fadein
  .card-header.bg-info.d-flex
    .col-5
      = image_tag "Part-ner.png", class: "img-fluid"
    .col-7.text-center.text-light.row.justify-content-center.align-content-center
      h1.col-12
        | ”Part-ner”
      h4.col-12
        | をはじめよう！
  .card-body
    h4.card-title
      | 素敵なPart-nerがあなたを待っています！
    h5.card-text
    - if user_signed_in?
      = link_to 'マイページへ', user_path(current_user), class: "btn btn-primary btn-rounded"
    - else
      = link_to "登録済みの方はこちら", new_user_session_path, class: "btn btn-primary btn-rounded mb-3"
      = link_to "新規登録はこちら",  new_user_registration_path, class: "btn btn-primary btn-rounded mb-3"

/アニメーション効果を付けるファイル呼び出し
= render "homes/animate"
