// @use '~bootstrap-material-design/scss/bootstrap-material-design';
@use "~mdb-ui-kit/src/scss/mdb.free";
// @use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';


body{
  background-color: #eaf4ff;
}

.card-img-top {
    height: 45%;
    flex-shrink:0;
 }

.list-group {
    --mdb-list-group-item-transition-time: 0.2s;
}
 .list-group-item{
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.2), 0 10px 20px -2px rgba(0, 0, 0, 0.04);
 }
 .list-group-item:hover{
    box-shadow:0 6px 14px rgba(0, 0, 0, 0.5);
    transform:translate(0, -2px);
 }

 .card{
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.2), 0 10px 20px -2px rgba(0, 0, 0, 0.04);
 }

 .job_card{
   min-height: 120vh;
 }

 .index_card {
    transition:box-shadow 0.3s, transform 0.3s;
}

.index_card:hover {
    box-shadow:0 6px 14px rgba(0, 0, 0, 0.5);
    transform:translate(0, -2px);
}