// @use '~bootstrap-material-design/scss/bootstrap-material-design';
@use "~mdb-ui-kit/src/scss/mdb.free";
// @use '~bootstrap/scss/bootstrap';
@use '~@fortawesome/fontawesome-free/scss/fontawesome';

@font-face {
  font-family: 'せのびゴシックミディアム';
  src: url('../fonts/Senobi-Gothic-Medium.ttf') format('truetype');
}

body{
  background-color: #e9e5e5;
  font-family:'せのびゴシックミディアム';
}

.list-group {
    --mdb-list-group-item-transition-time: 0.2s;
}
 .list-group-item{
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.2), 0 10px 20px -2px rgba(0, 0, 0, 0.04);
 }
 .list-group-item:hover{
    box-shadow:0 6px 14px rgba(0, 0, 0, 0.5);
    transform:translate(0, -2px);
 }
 .bottomber{
     height: 70px;
 }


 .card{
    box-shadow: 0 2px 15px -3px rgba(0, 0, 0, 0.2), 0 10px 20px -2px rgba(0, 0, 0, 0.04);
 }


 .index_card {
    transition:box-shadow 0.3s, transform 0.3s;
}

.index_card:hover {
    box-shadow:0 6px 14px rgba(0, 0, 0, 0.5);
    transform:translate(0, -2px);
}

.shadow-inner {
    box-shadow: inset 0 2px 5px 0 rgba(0, 0, 0, 0.3) !important;
}

#area{
  height: 55vh;
}