#offerExistModal.modal.fade[aria-hidden="true"]
  .modal-dialog.modal-dialog-centered
    .modal-content
      .pt-4
        h5.text-center
          strong
            | 既にオファー済みです
      .modal-body

      .modal-footer
        button.btn.btn-secondary.btn-rounded[type="button" data-dismiss="modal"]
          | 閉じる
