<div class="modal fade" id="offerExistModal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="pt-4">
        <h5 class="text-center"><strong>既にオファー済みです</strong></h5>
      </div>

      <div class="modal-body">
        
      </div>
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">閉じる</button>
       
      </div>

    </div>
  </div>
</div>