<div class="modal fade" id="OKmodal" aria-hidden="}">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="pt-4">
        <h5 class="text-center"><strong>承認してDMを始めますか？</strong></h5>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">閉じる</button>
      </div>

    </div>
  </div>
</div>