<div class="modal fade" id="OKmodal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="pt-4">
        <h5 class="text-center"><strong>承認してDMを始めますか？</strong></h5>
      </div>

      <div class="modal-footer">
        <%= link_to "始める", chatrooms_path(offer_id: offer.id, offerer_id: offer.user.id, job_id: offer.job.id), method: :post, class: "btn btn-primary btn-rounded"%>
        <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">後で</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="receiveNGmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="pt-4">
        <h5 class="text-center"><strong>削除してよろしいですか？</strong></h5>
      </div>

      <div class="modal-footer">
        <%= link_to "削除する", offers_path(offer_id: offer.id), method: :delete, class: "btn btn-danger btn-rounded"%>
        <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">削除しない</button>
      </div>
    </div>
  </div>
</div>