<div class="modal fade" id="OKmodal">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="pt-4">
        <h4 class="text-center">承認してDMを始めますか?</h4>
      </div>

      <div class="modal-footer">
        <%= link_to "はじめる", chatrooms_path(offer_id: offer.id, offerer_id: offer.user.id, job_id: offer.job.id), method: :post, class: "btn btn-primary btn-rounded"%>
        <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">あとで</button>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="receiveNGmodal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">

      <div class="pt-4">
        <h4 class="text-center">削除してよろしいですか？</h4>
      </div>

      <div class="modal-footer">
        <%= link_to "削除する", offers_path(offer_id: offer.id), method: :delete, class: "btn btn-danger btn-rounded"%>
        <button type="button" class="btn btn-secondary btn-rounded" data-dismiss="modal">あとで</button>
      </div>
    </div>
  </div>
</div>