#received_offer_index.tab-pane.fade.show.active
  - receive_offers.each do |offer|
    = render "/offers/OKorNG_modal", offer: offer
    .container.card.index_card.my-3.py-3.text-body
      .row.justify-content-center.mx-1
        .col-3.col-md-2.px-0.m-auto.d-flex.justify-content-end
          = link_to user_path(offer.user) do
            = image_tag offer.user.get_image(100,100), class: 'rounded-circle mt-2 img-thumbnail img-fluid'
        .col-9.col-md-7

    h4.text-center
      strong
        = offer.job.tytle
    h3
      strong
        = offer.user.name
        | からのオファー
    p.border.rounded-8.bg-light.p-3.mb-0
      = offer.content
    small
      = offer.created_at.strftime('%Y/%m/%d %H:%M')
.col-12.col-md-3.d-flex.align-items-center.justify-content-around
  button.btn.btn-primary.btn-rounded[data-toggle="modal" data-target="#OKmodal"]
    i.fas.fa-check.fa-2x
  button.btn.btn-danger.btn-rounded[data-toggle="modal" data-target="#receiveNGmodal"]
    i.fas.fa-times.fa-2x
