<!--タイトルとタブメニュー-->
<div class = "row mt-lg-5 mt-3 mb-3">
  <h2 class="col-12 col-lg-6">オファー一覧</h2>
  <ul class="nav nav-tabs nav-justified col-12 col-lg-6">
    <li class="nav-item">
      <a
        class="nav-link active"
        id="received_offer_button"
        data-mdb-toggle="tab"
        href="#received_offer_index"
        aria-selected="true"
        ><strong>届いたオファー</strong></a>
    </li>
    <li class="nav-item" role="presentation">
      <a
        class="nav-link"
        id="send_offer_button"
        data-mdb-toggle="tab"
        href="#send_offer_index"
        aria-selected="false"
        ><strong>送ったオファー</strong></a
      >
    </li>
  </ul>
</div>

<!-- タブで開く内容 -->
<div class="offer_indexes">

  <!--もらったオファー-->
  <%= render "/offers/receive_index", receive_offers: @receive_offers %>

  <!--送ったオファー-->
  <%= render "/offers/send_index", send_offers: @send_offers%>

</div>

<!--タブ切り替え時にもう片方の中身を非表示、再表示するスクリプト-->
<script>
$(function() {
  $('#received_offer_button').on('click',function(event){
    $('#send_offer_index').addClass("d-none");
    $('#received_offer_index').removeClass("d-none");
  });
  $('#send_offer_button').on('click',function(event){
    $('#received_offer_index').addClass("d-none");
    $('#send_offer_index').removeClass("d-none");
  });
});
</script>