<div class="container">
  <div class="row">

    <%= render "layouts/sidebar", current: false%><!--サイドバー-->

      <div class="col-lg-8 offset-lg-1 col-md-12">

        <div class="d-flex justify-content-between">
          <h3 class="mt-5 mb-3 d-inline-block"><strong>送ったオファー：<%= @offers.count %>件</strong></h3>
          <%= link_to "もらったオファーを見る", offers_index_path, class: "btn btn-info d-inline-block mt-5 mb-3 rounded-pill"%>
        </div>

        <%= render "/offers/index", offers: @offers%>

      </div>

  </div>
</div>

