#searchModal.modal.fade[aria-hidden="true"]
  .modal-dialog.modal-dialog-centered
    .modal-content.bg-light
      .pt-4
        h2.text-center
          strong
            | どんなバイトがしたい？
      = form_with url: job_search_path, method: :get do |f|
        .modal-body.px-5
          = f.label :job_type ,"ジャンル"
          = f.select :job_type, Job.job_types.keys, { include_blank: '指定しない'}, { class: 'form-control mb-4' }
          = f.label :prefecture_code ,"地域（都道府県）"
          = f.select :prefecture_code, Job.prefecture_codes.keys, { include_blank: '指定しない'}, { class: 'form-control mb-4' }
          = f.label :key_word,"キーワード"
          = f.text_field :key_word,  class: "form-control mb-3", placeholder: "キーワードを入力"
          = f.check_box :include_sample,:as => :boolean, checked: false, class: "form-check-input mb-4"
          = f.label :include_sample, "サンプルを検索結果に含めない"
        .modal-footer
          = f.submit "この条件でさがす", class: "btn btn-primary btn-rounded"
        button.btn.btn-secondary.btn-rounded[type="button" data-dismiss="modal"]
          | 閉じる
