.sidebar.col-lg-3.d-lg-block.d-none
  /サイドバーをいい位置で固定
  div[style="position: sticky; top: 127px;"]

    /プロフィール画像
    #user_img.card.rounded-9.my-5[data-turbolinks-permanent]
      = link_to user_path(current_user),class: "mx-auto text-center text-body" do
        = image_tag current_user.get_image(70,70), class: 'rounded-circle my-2 img-thumbnail img-fluid'
        h5
          strong
            = current_user.name.truncate(9)

    /リンクリスト
    .list-group.list-group-light.mt-3
      h6
        strong
          = link_to user_path(current_user), class: "list-group-item list-group-item-action text-truncate px-4 mb-3 rounded-pill user_tab" do
            i.far.fa-user.fa-lg.fa-fw
            |  プロフィール

      h6
        strong
          = link_to chatrooms_path, class: "list-group-item list-group-item-action text-truncate  px-4 mb-3 rounded-pill #{active_if('chatrooms')}" do
            i.far.fa-comment-dots.fa-lg.fa-fw
            |  メッセージ

            /通知バッジの処理。存在する場合のみ件数表示
            - if Message.unread_by(current_user).exists?
              span.badge.badge-danger.rounded-pill
                = Message.unread_by(current_user).count
      h6
        strong
          = link_to offers_index_path, class: "list-group-item list-group-item-action text-truncate  px-4 mb-3 rounded-pill #{active_if('offers')}" do
            i.far.fa-handshake.fa-lg.fa-fw
            |  オファー

            /通知バッジの処理。存在する場合のみ件数表示
            - if Offer.where(job_id: current_user.jobs.ids).exists?
              span.badge.badge-danger.rounded-pill
                = Offer.where(job_id: current_user.jobs.ids).count
      h6
        strong
          = link_to bookmark_index_path,class: "list-group-item list-group-item-action text-truncate  px-4 mb-3 rounded-pill #{active_if('bookmarks')}" do
            i.far.fa-bookmark.fa-lg.fa-fw
            |  ブックマーク

      h6.mt-5
        strong
          = link_to :back, class: "list-group-item list-group-item-action text-truncate  px-4 mb-3 rounded-pill" do
            i.fas.fa-arrow-left.fa-lg.fa-fw
            |  戻る


/ボトムバー
.bottomber.list-group.list-group-light.flex-row.justify-content-evenly.align-items-end.bg-secondary.d-lg-none.order-md-2.fixed-bottom.p-0
  h6
    = link_to user_path(current_user), class: "list-group-item list-group-item-action px-3 m-auto rounded-9 user_tab" do
      i.far.fa-user.fa-lg.fa-fw
  h6
    = link_to chatrooms_path, class: "list-group-item list-group-item-action position-relative px-3 m-auto rounded-9 #{active_if('chatrooms')}" do
      i.far.fa-comment-dots.fa-lg.fa-fw
      /通知バッジの処理。存在する場合のみ件数表示
      - if Message.unread_by(current_user).exists?
        span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.badge-danger
          = Message.unread_by(current_user).count

  h6
    /クラス名にif分を噛ませるときはclass=""で書く。コントローラーjobsかつアクションがsearchの時だけアクティブに
    a class="list-group-item list-group-item-action px-3 m-auto rounded-9 #{active_if('jobs') if action_name == "search"} " data-toggle="modal" data-target="#searchModal"
      i.far.fa-dot-circle.fa-lg.fa-fw

  h6
    = link_to offers_index_path, class: "list-group-item list-group-item-action position-relative px-3 m-auto rounded-9 #{active_if('offers')}" do
      i.far.fa-handshake.fa-lg.fa-fw
      /通知バッジの処理。存在する場合のみ件数表示
      - if Offer.where(job_id: current_user.jobs.ids).exists?
        span.position-absolute.top-0.start-100.translate-middle.badge.rounded-pill.badge-danger
          = Offer.where(job_id: current_user.jobs.ids).count
  h6
    strong
      = link_to bookmark_index_path,class: "list-group-item list-group-item-action px-3 m-auto rounded-9 #{active_if('bookmarks')}" do
        i.far.fa-bookmark.fa-lg.fa-fw


/非表示。スクリプトにデータを渡す用
#current_info.d-none[data-current_user_id="#{current_user.id}"]

/サイドバーの動きスクリプト
= render "/layouts/js/side_animate"