#top_btn
  a.btn.btn-primary.position-fixed.m-1[href="#" style="right: 5%;
            bottom: 70px;
            text-align: center;
            padding: 0;
            border-radius: 50%;
            width: 55px;
            height: 55px;
            line-height: 55px;
            font-size: 1.3rem;"]
    i.fas.fa-chevron-up
script
  |  $(function() { $('#top_btn a').on('click',function(event){ $('body, html').animate({ scrollTop:0 }, 800); event.preventDefault(); }); }); 
