doctype html
html
  head
    title
      | Part-ner
    meta[name="viewport" content="width=device-width,initial-scale=1"]
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag('favicon.ico')
    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
    script[src="https://cdnjs.cloudflare.com/ajax/libs/jscroll/2.4.1/jquery.jscroll.min.js"]
  body
    = render "layouts/header"
    .container
      .row.justify-content-evenly
        - if user_signed_in? && controller_path != "homes"
          = render "layouts/sidebar", current: false
        #contents.col-lg-8.col-md-12
          = yield
